.form .btn {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
  /* //   background: rgb(130, 106, 251); */
    background: rgb(57, 21, 241);
  }
  .text-danger{
    color: red;
  }
  .form button:hover {
    background: rgb(88, 56, 250);
  }